// === MEDIA BREAKPOINTS ===

// Small devices (landscape phones, 576px and up)
@mixin small-screens() {
  @media only screen and (max-width: 576px) {
    @content;
  }
}

// Medium devices (tablets, 768px and up)
@mixin medium-screens() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

// Large devices (desktops, 992px and up)
@mixin large-screens() {
  @media only screen and (max-width: 960px) {
    @content;
  }
}

// Extra large devices (large desktops, 1200px and up)
@mixin extra-large-screens() {
  @media only screen and (max-width: 960px) {
    @content;
  }
}


// === GOOGLE FONTS ===
@mixin google-font($font) {
  $font: unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font});
}

// === HEADERS ===
@mixin section-header() {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background: #464646;
  color: #fff;
  display: inline;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .5);
}

