$grey-color: #464646;

.first-block {
    background: #ffc038;

}
.first-block__header {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: flex-start;
padding-top: 30px;
}

.first-block__nav {
    display: flex;
    width: 65%;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    align-items: flex-start;
}
.first-block__wraper {
    margin: 0 auto;
    width: 75%;
}

.first-block__nav li {
    margin-left: 7px;
    font-weight: bold;
}

.first-block__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.first-block__main h1 {
    color: white;
    font-size: 48px;
}
.first-block__main p {
color: white;
}
.first-block__nav--decor-none {
text-decoration: none;
color: $grey-color;

}
.btn {
    position: relative;
    cursor: pointer;
    display: table-cell;
    border: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}
.btn__black {
    background: $grey-color;
    border-radius:5px; 
    color: white;
    padding: 10px;
    left: 60%;
}

.container img {
    width: 850px;
    left: 70%;

}
.first-block__main--left_side {
width: 40%;
}
.first-block__main--left_side p {
    font-size: 20px;
    line-height: 1.7;
    }
.first-block__main--right_side {
    width: 60%;
    margin-top: 7%;
    }
    .first-block__main--right_side .dots {
margin-left: 50%;
    }
    .first-block__main--right_side .arrow {
        position: absolute;
        top:15%;
        left:31%
    }