@include google-font('Open+Sans');
@include google-font('Source+Sans+Pro');

.history {
	margin-bottom: 80px; //added by shb
	width: 100%;
	background: url(../assets/img/history-bg.png) no-repeat;
	background-size: cover;
	padding: 65px 0;
	&__flex {
		display: flex; // added by max
		flex-direction: row;
	}
	&__img {
		// padding-left: 145px;
	    // padding-top: 65px;
	    // padding-bottom: 65px;
		// float: left;
		flex: 1 1 50%;
		// text-align: center;
		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__right {
		// padding-top: 65px;
	    // padding-right: 145px;
	    // padding-bottom: 65px;
		// margin-left: 620px;
		flex: 1 1 50%;
		padding-left: 25px;
		&-text {
			color: #7f7f7f;
		    font-size: 16px;
		    font-family: 'Roboto';
		    text-align: justify;
		    line-height: 32px;
		    margin-top: 25px;
		}
		&-btn--grey {
			@include grey-button;
		}
		&-btn--yellow {
			@include yellow-button;
			&:hover {
				background-color: #464646;
				color: #ffffff;
			}
		}

	}

	//ClearFix added by shb
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// @media (max-width: 767px) {
// 	.history__right-text {
// 		margin-top: -110px;
// 		font-size: 14px;
// 		line-height: 28px;
// 		margin-left: -10px;
// 		margin-top: -465px;
// 	}
// 	.history__right {
// 		padding-left: 30px;
// 	    padding-right: 30px;
// 	    padding-top: 45px;
// 	    padding-bottom: 45px;
// 	    margin-left: 10px;
// 	}
// 	.history__img {
// 		padding: 0px;
// 		margin: 65px 10px 10px 20px;
// 		img {
// 			height: 100%;
// 			width: 100%;
// 		}
// 	}
// 	.history__right-btn--grey {
// 		margin-left: 50%;
// 		transform: translateX(-50%);
// 		letter-spacing: 2px;
// 		font-size: 18px;
// 		margin-top: -990px;
// 	}
// 	.history__right-btn--yellow {
// 		margin-left: 50%;
// 		transform: translateX(-50%);
// 		font-size: 12px;
// 		margin-top: 10px;
// 	}
// }

// @media (min-width: 768px) and (max-width: 959px) {
// 	.history__right-text {
// 		margin-top: 10px;
// 		font-size: 14px;
// 	}
// 	.history__right {
// 	    padding-right: 30px;
// 	    padding-top: 45px;
// 	    padding-bottom: 45px;
// 	    margin-left: 300px;
// 	}
// 	.history__img {
// 		padding-left: 30px;
// 		margin: 10px 10px 10px 20px;
// 		img {
// 			height: 250px;
// 			width: 250px;
// 		}
// 	}
// 	.history__right-btn--grey {
// 		letter-spacing: 2px;
// 		font-size: 18px;
// 	}
// 	.history__right-btn--yellow {
// 		font-size: 12px;
// 		margin-top: 10px;
// 	}
// }

// @media (min-width: 960px) and (max-width: 1194px) {
// 	.history__right-text {
// 		margin-top: 10px;
// 		font-size: 16px;
// 		line-height: 28px;
// 	}
// 	.history__right {
// 	    padding-right: 80px;
// 	    padding-top: 55px;
// 	    padding-bottom: 55px;
// 	    margin-left: 480px;
// 	}
// 	.history__img {
// 		padding-left: 80px;
// 		padding-top: 55px;
// 		img {
// 			height: 380px;
// 			width: 380px;
// 		}
// 	}
// 	.history__right-btn--grey {
// 		font-size: 18px;
// 	}
// 	.history__right-btn--yellow {
// 		margin-top: 10px;
// 		font-size: 12px;
// 	}
// }
// @media (min-width: 1195px) and (max-width: 1300px) {
// 	.history__right-text {
// 		margin-top: 10px;
// 		font-size: 17px;
// 		line-height: 30px;
// 	}
// 	.history__right {
// 	    padding-right: 100px;
// 	    padding-top: 55px;
// 	    padding-bottom: 55px;
// 	    margin-left: 500px;
// 	}
// 	.history__img {
// 		padding-left: 100px;
// 		padding-top: 55px;
// 		img {
// 			height: 380px;
// 			width: 380px;
// 		}
// 	}
// 	.history__right-btn--grey {
// 		letter-spacing: 2px;
// 		font-size: 18px;
// 	}
// 	.history__right-btn--yellow {
// 		font-size: 12px;
// 		margin-top: 10px;
// 	}
// }





