/* Our Team Members */
@include google-font('Open+Sans:700|Roboto:100,300,700|Source+Sans+Pro:700');

.members {
  padding-top: 100px;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;

  svg {
    width: 125px;
  }

  &__heading {
    margin: 4rem auto;
    margin-left: -50px;
    .heading__title {
      h4 {
        font-size: 24px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        background: #464646;
        color: #fff;
        padding: 10px 60px;
        display: inline;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .5);
      }
      .arrow--left {
        margin-top: -130px;
        &__img {
          margin-top: 90px;
          margin-right: -10px;
        }
      }
    }
  }

  &_bg {
    background-color: #ffc038;
    padding: 60px 0 30px 0;
  }

  &__inner {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__team-member {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;;

    h5 {
      font-weight: 700;
      font-size: 16px;
      color: #f5f5f5;
      text-transform: uppercase;
      margin: 20px 0;
    }

    p {
      font-weight: 100;
      font-size: 16px;
      color: #f5f5f5;
      text-transform: uppercase;
      margin-top: -15px;
    }
  }

  .members-image {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background: #ebebeb;
    overflow: hidden;
    margin-bottom: -10px;
    &__img {
      position: absolute;
      left: 14px;
      top: 20px;
    }
  }
}
