/* Our Team Members */
@include google-font("Roboto");

.members {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;

  &_heading {
    margin-bottom: 4rem;
    margin-top: 4rem;
    .heading_title {
      h4 {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        background: #464646;
        color: #fff;
        padding: 10px 60px;
        display: inline;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .5);
      }
      .arrow--left {
        margin-top: -130px;
        &__img {
          margin-top: 90px;
          margin-right: -10px;
        }
      }
    }
  }

  &_bg {
    background-color:#ffc038;
    padding:60px 0 30px 0;
  }

  &__inner {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__team-member {
    margin-bottom:20px;
    font-family: 'Roboto';

    h5{
      font-weight: 700;
      font-size:16px;
      color:#f5f5f5;
      text-transform:uppercase;
      margin:20px 0;
    }

    p{
      font-weight: 100;
      font-size:16px;
      color:#f5f5f5;
      text-transform:uppercase;
      margin-top: -15px;
    }
  }
}


