@include google-font('Open+Sans:400,700|Roboto:100,300,400,500,700|Source+Sans+Pro:700');

.headings {
    &__title {
        position: relative;
        width: 30%;
        margin: 5rem auto 10rem auto;
        padding: 10px 20px;
        border-radius: 3px;
        background-color: $button-color;
        color: white;
        text-align: center;
        font-size: 24px;
        font-family: 'Source Sans Pro';
        font-weight: 700;
        box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
    }
    &__arrow-left {
        position: absolute;
        top: 1.5rem;
        right: 50%;
        transform: translateX(-60%);
        padding-right: 4rem;
        object {
            width: 100%;
            max-width: 80%;
        }
    }
}

.our-packages {
    font-family: 'Roboto', sans-serif;;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
    &__arrow {
        position: absolute;
        top: 1.5rem;
        right: 50%;
        transform: translateX(-60%);
        padding-right: 4rem;
        object {
            width: 100%;
            max-width: 80%;
        }
    }
    &__grid {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #a5a5a5;
        font-weight: 500;
        &:hover {
            color: black;
        }
        &-group-2 {
            position: relative;
            top: -26px;
            border-left: 1px solid $yellow-color;
            border-right: 1px solid $yellow-color;
            .our-packages__flex-item:nth-child(2) {
                padding-top: 40px;
            }
        }
        &-item {
            padding: 15px;
            background: white;
            border-bottom: 1px solid $yellow-color;
            &:nth-child(1) {
                margin: -1px 0 -2px 0;
            }
            &:nth-child(2) {
                padding-top: 20px;
            }
            &:last-child {
                border-bottom: none;
            }
            &-title {
                font-weight: 400;
                &--grey {
                    font-size: 22px;
                    color: #a5a5a5;
                }
                &--red {
                    font-size: 26px;
                    padding-top: -10px;
                    color: #f06d4f;
                }
                &--orange {
                    font-size: 22px;
                    color: #ffbf37;
                }
            }
        }
    }

    
    &__button {
        width: 100%;
        margin: 30px auto;
        display: flex;
        justify-content: space-around;
        padding: 0;
        a:nth-child(1):hover &--grey {
            background: #888888;
        }
        a:nth-child(2):hover &--red {
            background: #c75036;
        }
        a:nth-child(3):hover &--orange {
            background: #d49f2c;
        }
        a &-item {
            font-family: OpenSans;
            font-weight: 700;
            font-size: 15.5px;
            box-sizing: border-box;
            border-radius: 3px;
            width: 192px;
            height: 45px;
            text-align: center;
            padding: 12px 0;
        }
        a:nth-child(2) &-item {
            width: 215px;
            height: 55px;
            padding: 15px 0;
            font-size: 17.5px;
            font-weight: 400;
        }
        & a {
            text-decoration: none;
            color: white;
        }
        &--grey {
            background: #a5a5a5;
        }
        &--red {
            background: #f06d4f;
        }
        &--orange {
            background: #ffbf37;
        }
    }
}
.fs-16 {
    font-size: 16px;
}

.fs-25 {
    font-size: 25px;
}

.fs-35 {
    font-size: 35px;
    padding-top: 60px;
}

.fs-68 {
    font-size: 68px;
    padding-top: 45px;
}

.color-grey {
    color: #a5a5a5;
}

.color-red {
    color: #f06d4f;
}

.color-orange {
    color: #ffbf37;
}

// MEDIA

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1005px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .wrapper {
        max-width: 970px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .wrapper {
        max-width: 750px;
    }
}