@include google-font("Source+Sans+Pro");
@include google-font("Roboto");

.related {
	padding-top: 60px;
	position: relative;

	&_title {
		.header4 {
	        font-size: 24px;
	        font-weight: 700;
	        text-transform: uppercase;
	        text-align: center;
	        background: #464646;
	        color: #fff;
	        padding: 10px 25px;
	        display: inline;
	        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .5);
	        font-family: 'Source Sans Pro', sans-serif;
      	}
      	.arrow--right {
      		margin-top: -150px;
      		&__img {
      			margin-top: 90px;
			    margin-right: -10px;
			}
      	}
	}

	&-main {
		width: calc(100% - 290px);
		margin: 45px auto 0 auto;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 40px 60px;
		padding: 90px 100px;
		background: #f4f4f4;

	}

	&--sell {
		& > img {
			width: 100%;
			height: 135px;
		}
		&--text {
			text-transform: uppercase;
			color: #6a6a6a;
			font-weight: bold;
			font-size: 16px;
			font-family: 'Roboto';
			padding-top: 35px;
    		text-align: center;
		}
	}
}

@media (max-width: 599px) {
	.related-main {
		grid-template-columns: 1fr;
		width: 100%;
	}
}
@media (min-width: 600px) and (max-width: 780px) {
	.related-main {
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
	}
}
@media (min-width: 781px) and (max-width: 959px) {
	.related-main {
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
	}
}
@media (min-width: 960px) and (max-width: 1250px) {
	.related-main {
		transition-property: width;
		transition-duration: 0.5s;
		width: 100%;
	}
}
@media (min-width: 1251px) {
	.related-main {
		transition-property: width;
		transition-duration: 0.5s;
	}
}
