@include google-font("Source+Sans+Pro");
@include google-font("Roboto");

.related {
	max-width: 1270px; //added by shb
	margin: 0 auto -50px; //added by shb
	padding-top: 60px;
	position: relative;

	&_title {
		.header4 {
	        font-size: 24px;
	        font-weight: 700;
	        text-transform: uppercase;
	        text-align: center;
	        background: #464646;
	        color: #fff;
	        padding: 10px 25px;
	        display: inline;
	        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .5);
	        font-family: 'Source Sans Pro', sans-serif;

			//added by shb
			@include small-screens {
				font-size: 16px;
			}
      	}
      	//commented by shb
		/*.arrow--right {
      		margin-top: -150px;
      		&__img {
      			margin-top: 90px;
			    margin-right: -10px;
			}
      	}*/

		//added by shb
		.arrow--right {
			&__img {
				margin-top: 10px;
				width: 70px;
				height: 110px;
				position: absolute;
				left: 50%;
				transform: translateX(300%);
			}
		}
	}

	&-main {
		width: calc(100% - 290px);
		margin: 45px auto 0 auto;
		margin-top: 150px; //added by shb
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 40px 60px;
		padding: 90px 100px;
		background: #f4f4f4;

	}

	&--sell {
		& > img {
			width: 100%;
			height: 135px;
		}
		&--text {
			text-transform: uppercase;
			color: #6a6a6a;
			font-weight: bold;
			font-size: 16px;
			font-family: 'Roboto';
			padding-top: 35px;
    		text-align: center;
		}
	}
}

@media (max-width: 599px) {
	.related-main {
		grid-template-columns: 1fr;
		width: 100%;
	}
}
@media (min-width: 600px) and (max-width: 780px) {
	.related-main {
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
	}
}
@media (min-width: 781px) and (max-width: 959px) {
	.related-main {
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
	}
}
@media (min-width: 960px) and (max-width: 1250px) {
	.related-main {
		transition-property: width;
		transition-duration: 0.5s;
		width: 100%;
	}
}
@media (min-width: 1251px) {
	.related-main {
		transition-property: width;
		transition-duration: 0.5s;
	}
}

/* animation*/
@keyframes rubberBand {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.rubberBand {
	animation: rubberBand 1.5s;
}