$grey-color: #464646;
$header-background: #ffc038;

.welcome {
    background: $header-background;
    width: 100%;

    &__wrapper {
        margin: 0 auto;
        width: 75%;
    }
    &__wrapper--header {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: flex-start;
padding-top: 30px;
}
   &__nav {
    display: flex;
    width: 65%;
    padding-top: 10px;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    align-items: flex-start;
}

  &__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
  &__main h1 {
    color: white;
    font-size: 48px;
}
  &__main p {
color: white;
}
  &__nav--decor-none {
text-decoration: none;
color: $grey-color;
margin-left: 7px;
font-weight: bold;
  }
  &__main--left_side {
    width: 40%;
    }
    &__main--p {
        font-size: 20px;
        line-height: 1.7;
        }
    &__main--right_side {
        width: 60%;
        margin-top: 7%;
        }
    &__main--right_side .arrow {
            position: absolute;
            top:120px;
            left:31%
        }
}
.btn {
    position: relative;
    cursor: pointer;
    display: table-cell;
    border: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: white;

&__black {
    background: $grey-color;
    border-radius:5px; 
    color: white;
    padding: 10px;
    left: 60%;
}
}
.container img {
    width: 800px;
    left: 70%;

}


    * {box-sizing: border-box;}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bx-wrapper {
  width: 800px;
  margin: 0 auto;
  position: relative;
}
.bx-wrapper img {
  width: 100%;
  max-width: 100%;
  display: block;
}
.bx-pager {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.bx-pager-item {display: inline-block;}
.bx-pager-link {
  text-indent: -9999px;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  outline: 0;
  border: 2px solid white;
  border-radius: 50%;
}
a.active {background: white;}
.bx-prev, .bx-next {
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  background: white;
  color: #666;
  width: 50px;
  height: 50px;
  opacity: 0;
  text-align: center;
  transition: .4s linear;
  z-index: 10;
  cursor: pointer;
}
.bx-wrapper:hover .bx-prev, .bx-wrapper:hover .bx-next, .bx-wrapper:hover .bx-prev:active, .bx-wrapper:hover .bx-next:active {opacity: 1;}
.bx-prev {left: 20px;}
.bx-next {right: 20px;}
.bx-prev:before, .bx-next:before {
  font-family: "FontAwesome";
  font-size: 30px;
  line-height: 50px;
}
.bx-prev:before {content: "\f104";}
.bx-next:before {content: "\f105";}

.bx-viewport {width: 800px;}
.bx-viewport li {width: 800px;}
.bx-viewport li img {width: 100%;}

@media only screen and (max-width: 1000px) {
    .welcome__main {flex-direction: column-reverse;
        align-items: center;}
    .arrow {display: none;}
    .welcome__wrapper {width: 90%;}
    .welcome__main--left_side {width: 100%;}

  }

  @media only screen and (max-width: 500px){
    .welcome__nav { flex-direction: column;
    align-items: center;
    width: 90%;}
}

    @media only screen and (max-width: 600px){
        .welcome__nav { width: 90%;}
        .welcome__main--left_side h1 {font-size: 30px;}
    }
    @media only screen and (max-width: 1200px){
        .arrow img {width: 200px;}
    }
    


