$grey-color: #464646;
$header-background: #ffc038;

.welcome {
    background: $header-background;
    width: 100%;

    &__wrapper {
        margin: 0 auto;
        width: 75%;
    }
    &__wrapper--header {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: flex-start;
padding-top: 30px;
}
   &__nav {
    display: flex;
    width: 65%;
    padding-top: 10px;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    align-items: flex-start;
}

  &__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
  &__main h1 {
    color: white;
    font-size: 48px;
}
  &__main p {
color: white;
}
  &__nav--decor-none {
text-decoration: none;
color: $grey-color;
margin-left: 7px;
font-weight: bold;
  }
  &__main--left_side {
    width: 40%;
    }
    &__main--p {
        font-size: 20px;
        line-height: 1.7;
        }
    &__main--right_side {
        width: 60%;
        margin-top: 7%;
        }
    &__main--right_side .arrow {
            position: absolute;
            top:120px;
            left:31%
        }
}
.btn {
    position: relative;
    cursor: pointer;
    display: table-cell;
    border: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: white;

&__black {
    background: $grey-color;
    border-radius:5px; 
    color: white;
    padding: 10px;
    left: 60%;
}
}
.container .mackbook {
    width: 800px;
    left: 70%;
}

@media only screen and (max-width: 1000px) {
    .welcome__main {flex-direction: column-reverse;
        align-items: center;}
    .arrow {display: none;}
    .welcome__wrapper {width: 90%;}
    .welcome__main--left_side {width: 100%;}

  }

  @media only screen and (max-width: 500px){
    .welcome__nav { flex-direction: column;
    align-items: center;
    width: 90%;}
}

    @media only screen and (max-width: 600px){
        .welcome__nav { width: 90%;}
        .welcome__main--left_side h1 {font-size: 30px;}
    }
    @media only screen and (max-width: 1200px){
        .arrow img {width: 200px;}
    }
    
   
    @media only screen and (max-width: 1200px){
    .container {width: 100%!important;}}

  @media (min-width: 1200px){
    .container {width: 100%!important;}}

    
  @media (min-width: 900px){
    .container {width: 100%!important;}}

    .container {padding-right: 0; 
       padding-left: 0; }

       

       @media (max-width: 1405px){
        .container {width: 700px!important;}
        .container .mackbook{width: 90%}}

        @media (max-width: 1200px){
          .container {width: 500px!important;}
          .container .mackbook{width: 90%}}

          @media (max-width: 900px){
            .container {width: 350px!important;}
            .container .mackbook {width: 90%}
            .welcome__main--right_side {width: 100%;}}
    
            @media (min-width: 1000px){
            .welcome__main--left_side {width: 44%;}}

  