@include google-font('Open+Sans:700|Roboto:100,300,700|Source+Sans+Pro:700');

.main-menu {
  font-family: 'roboto', sans-serif;

  li {
    list-style: none;
  }

  .navbar {
    margin-bottom: 20px;
    border: 1px solid transparent;
  }

  .navbar-default {
    background-color: #ffc038;
    border: transparent;
    padding-top: 50px;
    .navbar-nav {
      .active {
        &__link {
          background-color: transparent;
          color: #464646;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          &:hover {
            background-color: transparent;
            color: #fff;
          }
        }
      }
    }
  }

  .navbar-brand {
    @include medium-screens {
      margin-bottom: 10px;
    }
  }
  .contact-number {
    font-size: 12px;
    font-weight: 700;
    color: #464646;
    margin-right: 14px;
    margin-bottom: 10px;
  }

}

.header {
  font-family: 'roboto', sans-serif;
  padding-top: 80px;
  padding-bottom: 60px;
  margin-bottom: 150px;
  position: relative;
  overflow: hidden;
  background-color: #ffc038;
  color: #fff;
  @include large-screens {
    padding-top: 100px;
  }

  .homepage-style {
    padding-top: 100px;
    max-width: 1005px;
    margin: 0 auto;
  }

  .unique-apps {
    margin-top: -60px;
    max-width: 400px;
    @include large-screens {
      margin-top: -100px;
    }
    @include medium-screens {
      max-width: 100%;
    }

    &__heading {
      font-size: 42px;
      font-weight: 700;
      text-transform: uppercase;
      @include large-screens {
        margin-top: 100px;
        font-size: 35px;
      }
    }

    &__desc {
      font-size: 16px;
      font-weight: 300;
      line-height: 2;
      word-spacing: 2px;
      @include large-screens {
        font-size: 14px;
        line-height: 1.5;
      }

      p:nth-of-type(2) {
        margin-top: -10px;
      }
    }
    &__btn {
      margin: 15px 0;
      background: #464646;
      padding: 15px 20px;
      color: #fff;
      font-size: 16px;
      transition: .5s;
      border: none;
      border-radius: 2px;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .5);

      &:hover {
        background: #465465;
        color: #fff;
      }

      .btn__icon {
        margin-left: 5px;
        font-size: 20px;
        transform: rotate(60deg);
      }
    }
  }

  .carousel-indicators {
    bottom: -50px;
    li:nth-of-type(n+2) {
      background: #464646;
      border: 0;
    }
  }

  .slider-area {
    margin-left: -100px;
    margin-top: 20px;
    @include large-screens {
      margin-left: 0;
      margin-top: 30px;
    }
  }
}



