@include google-font("Roboto");

.wrapper {
    // width: 1170px;
    margin: 0 auto;
}

.what-we-do {
    width: 100%;
    &__flex {
        display: flex;
        justify-content: center;
        margin-bottom: 200px;
    }
    &__image {
        flex: 0 1 50%;
        align-self: center;
        margin-right: 10px;
    }
    &__description {
        flex: 0 1 50%;
        font-family: Roboto;
        text-align: left;
        & .h4 {
            color:  #242424;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
        }
        & > p {
            color:  #363636;
            font-size: 14px;
            font-weight: 300;
            line-height: 25px;
        }
    }
    &__button {
        @include yellow-button;
        text-align: center;
        box-sizing: border-box;
        width: 151px;
        height: 50px;
        padding: 15px 30px;
        box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
        
        &:hover {
            @include onHover;
        }
    }
}

.text-align-right {
    text-align: right;
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1005px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .wrapper {
        max-width: 970px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .wrapper {
        max-width: 750px;
    }
    .what-we-do {
        width: 90%;
        margin: 0 auto;
        &__flex {
            flex-direction: column;
            margin-bottom: 150px;
        }
        &__image {
            flex: 0 1 100%;
            margin-right: 0;
            margin-bottom: 20px;
            order: 1;
        }
        &__description {
            flex: 0 1 100%;
            margin: 0 auto;
            text-align: center;
            order: 2;
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .wrapper {
        max-width: 600px;
    }
    .what-we-do {
        width: 80%;
        margin: 0 auto;
        &__flex {
            flex-direction: column;
            margin-bottom: 100px;
        }
        &__image {
            flex: 0 1 100%;
            margin-right: 0;
            margin-bottom: 10px;
            order: 1;
        }
        &__description {
            flex: 0 1 100%;
            margin: 0 auto;
            text-align: center;
            order: 2;
        }
    }
}