<!-- members section -->
<section class="members">
    <div class="container">
        <div class="members_heading">
            <div class="heading_title text-center arrow--left">
                <img class="arrow--left__img hidden-xs" src="../../assets/img/How_we_work(arrow).png" alt=""/>
                <h4 >Our Team Members</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid members_bg">
        <div class="row members__inner">
            <div class="text-center">
                <div class="col-md-2 col-md-offset-1 col-sm-6 col-xs-12">
                    <div class="members__team-member">
                        <img class="img-circle" src="../../assets/img/team/1.png" alt="member-1"/>
                        <h5>SAYED MIRAJ</h5>
                        <p>UI & UX DESIGNER</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="members__team-member">
                        <img class="img-circle" src="../../assets/img/team/2.png" alt="member-2"/>
                        <h5>PENNY HUSTON</h5>
                        <p>DEVELOPER</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="members__team-member">
                        <img class="img-circle" src="../../assets/img/team/3.png" alt="member-3"/>
                        <h5>LENNERD SHELLY</h5>
                        <p>REVIEWER</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="members__team-member">
                        <img class="img-circle" src="../../assets/img/team/4.png" alt="member-4"/>
                        <h5>SHELDON CUPPER</h5>
                        <p>MARKETTER</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="members__team-member">
                        <img class="img-circle" src="../../assets/img/team/5.png" alt="member-5"/>
                        <h5>ASHLEY COLE</h5>
                        <p>MANAGEMENT</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
