<!-- members section -->

<section class="members">
    <div class="container">
        <div class="members__heading">
            <div class="heading__title text-center arrow--left">
                <img class="arrow--left__img hidden-xs" src="assets/img/How_we_work(arrow).png" alt="member-2"/>
                <h4>Our Team Members</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid members_bg">
        <div class="row members__inner">
            <div class="text-center">
                <div class="col-md-2 col-md-offset-1 col-sm-6 col-xs-12">
                    <div class="members__team-member fadeInLeft">
                        <div class="members-image">
                            <img class="members-image__img" src="assets/img/team/1.svg" width="100" alt="">
                        </div>
                        <h5>SAYED MIRAJ</h5>
                        <p>UI & UX DESIGNER</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="members__team-member fadeInUp">
                        <div class="members-image">
                            <img class="members-image__img" src="assets/img/team/2.svg" width="100"
                                 alt="team member">
                        </div>
                        <h5>PENNY HUSTON</h5>
                        <p>DEVELOPER</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 ">
                    <div class="members__team-member fadeInDown">
                        <div class="members-image">
                            <img class="members-image__img" src="assets/img/team/3.svg" width="100"
                                 alt="team member">
                        </div>
                        <h5>LENNERD SHELLY</h5>
                        <p>REVIEWER</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="members__team-member fadeInUp">
                        <div class="members-image">
                            <img class="members-image__img" src="assets/img/team/4.svg" width="100"
                                 alt="team member">
                        </div>
                        <h5>SHELDON CUPPER</h5>
                        <p>MARKETTER</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="members__team-member fadeInRight">
                        <div class="members-image">
                            <img class="members-image__img" src="assets/img/team/5.svg" width="100"
                                 alt="team member">
                        </div>
                        <h5>ASHLEY COLE</h5>
                        <p>MANAGEMENT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
