<section class="related">
	<div class="related_title text-center arrow--right">
		<h4>our business related projects</h4>
		<img class="related_title arrow--right__img hidden-xs" src="../../assets/img/What_we_do(arrow).png" alt="">
	</div>
	<div class="related-main">
		<div class="related--sell col-md-3 col-sm-6 col-xs-12">
			<div class="related--img"></div>
			<h5>technical aid</h5>
		</div>
		<div class="related--sell col-md-3 col-sm-6 col-xs-12">
			<div class="related--img second-img"></div>
			<h5>secure access</h5>
		</div>
		<div class="related--sell col-md-3 col-sm-6 col-xs-12">
			<div class="related--img third-img"></div>
			<h5>market reserch</h5>
		</div>
		<div class="related--sell col-md-3 col-sm-6 col-xs-12">
			<div class="related--img fourth-img"></div>
			<h5>credit</h5>
		</div>
		<div class="related--sell col-md-3 col-sm-6 col-xs-12">
			<div class="related--img--row2"></div>
			<h5>targetting</h5>
		</div>
		<div class="related--sell col-md-3 col-sm-6 col-xs-12">
			<div class="related--img--row2 second-img"></div>
			<h5>insurance</h5>
		</div>
		<div class="related--sell col-md-3 col-sm-6 col-xs-12">
			<div class="related--img--row2 third-img"></div>
			<h5>ecomerce</h5>
		</div>
		<div class="related--sell col-md-3 col-sm-6 col-xs-12">
			<div class="related--img--row2 fourth-img"></div>
			<h5>office</h5>
		</div>
	</div>
</section>