<section class="related">
	<div class="related_title text-center arrow--right">
		<h4 class="header4">our business related projects</h4>
		<img class="related_title arrow--right__img hidden-xs" src="../../assets/img/What_we_do(arrow).png" alt="">
	</div>
	<div class="related-main">
		<div class="related--sell ">
			<img src="../../assets/img/related1.svg" alt="">
			<div class="related--sell--text">technical aid</div>
		</div>
		<div class="related--sell ">
			<img src="../../assets/img/related2.svg" alt="">
			<div class="related--sell--text">secure access</div>
		</div>
		<div class="related--sell ">
			<img src="../../assets/img/related3.svg" alt="">
			<div class="related--sell--text">market reserch</div>
		</div>
		<div class="related--sell ">
			<img src="../../assets/img/related4.svg" alt="">
			<div class="related--sell--text">credit</div>
		</div>
		<div class="related--sell">
			<img src="../../assets/img/related5.svg" alt="">
			<div class="related--sell--text">targetting</div>
		</div>
		<div class="related--sell">
			<img src="../../assets/img/related6.svg" alt=""> 
			<div class="related--sell--text">insurance</div>
		</div>
		<div class="related--sell">
			<img src="../../assets/img/related7.svg" alt="">
			<div class="related--sell--text">ecomerce</div>
		</div>
		<div class="related--sell">
			<img src="../../assets/img/related8.svg" alt=""> 
			<div class="related--sell--text">office</div>
</section>