<div class="welcome">
    <div class="welcome__wrapper">
<header class="welcome__wrapper--header">
  <img src="assets/img/UNIQUE.svg" alt="INIQUE-TECH">
  <ul class="welcome__nav">
      <li><a class="welcome__nav--decor-none" href="#">HOME</a></li>
      <li><a class="welcome__nav--decor-none" href="#">SERVICE</a></li>
      <li><a class="welcome__nav--decor-none" href="#">ABOUT</a></li>
      <li><a class="welcome__nav--decor-none" href="#">PORTFOLIO</a></li>
      <li><a class="welcome__nav--decor-none" href="#">ACADEMIC</a></li>
      <li><a class="welcome__nav--decor-none" href="#">BLOG</a></li>
      <li><a class="welcome__nav--decor-none" href="#">CONTACT US<br>(+966-322-322)</a></li>
    </ul>
</header>  
<div class="welcome__main">
<div class="welcome__main--left_side">
<h1>UNIQUE-TECH<br>APP DEVELOPMENT</h1>
<p class="welcome__main--p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam provident iusto placeat magnam odit dolore nostrum corporis optio velit voluptatem, aperiam doloribus. Illo unde iste deleniti quidem quo harum id.<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, deserunt voluptas. Maiores deleniti, quis nihil repellat, exercitationem pariatur quo, veniam eligendi quam similique quia fugiat labore sint corrupti distinctio in?<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe expedita obcaecati quos voluptates odit eaque debitis veniam. Ab maxime, ipsum quis praesentium sequi expedita sunt beatae dolorem dignissimos eum! Eaque!</p>
<button class="btn__black">View More  <img src="assets/img/Main(button).png"></button>
</div>
<div class="welcome__main--right_side">
<div class="container">
        <script>jQuery(document).ready(function(){
                jQuery('.bxslider').bxSlider();
              });</script>
              <ul class="bxslider">
                <li><img class="sliderImg" src="assets/img/Main(macbook).png" /></li>
                <li><img class="sliderImg" src="assets/img/Main(macbook).png" /></li>
                <li><img class="sliderImg" src="assets/img/Main(macbook).png" /></li>
              </ul>
</div>
<div class="arrow">
<img src="assets/img/Main(arrow).png">
</div>
</div>
</div>

</div>
</div>